.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 100vh;
  margin: auto auto;
}

.oauth-login-container {
  margin-top: 30px;
  text-align: center;
}

.oauth-login-container__item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 40px;
}
